 /* Change the position for different div to see how the element reacts to the change */

.box-outer{
    /* position: relative; */
}
.box-middle{
    position: relative;
}

.box-inner{
    /* position: relative; */
}

.item-1{
    background-color: rgba(255, 255, 0, 0.965);
    position: absolute;
    top: 0;
    left: 0px;
}
.item-2{
    background-color: rgb(43, 116, 43);
    /* position: absolute; */
    top: 50%;
    left: 0;
}
